<div class="frame">
  <div class="flex flex-col w-full p-4">
    <router-outlet />
  </div>

  <div
    class="flex items-center sticky bottom-0 gap-6 p-4 bg-neutral-50/75 backdrop-blur-sm w-full justify-around rounded-es-lg rounded-ee-lg border-t-4 border-slate-100 shadow-lg shadow-slate-300"
  >
    @for(link of links; track link.name) {
    <a
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="link.route"
      routerLinkActive="active"
      class="flex flex-col items-center gap-2"
    >
      <svg-icon
        [name]="link.icon"
        [class.animate-rainbow]="link.name === 'introduction'"
      />
      <span class="text-xs opacity-50">{{ link.title }}</span>
    </a>
    }
  </div>
</div>
